.destination {
  padding-block: 0 var(--spacing-3xl);

  &__header {
    margin-bottom: var(--spacing-2xl);
  }

  &__map {
    .line {
      animation: moving-dash 25s linear 0s infinite normal running;
    }
  }

  @keyframes moving-dash {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 822; }
  }
}