@use '../abstracts/' as *;
.get-free-quote {
  --_overlay-gradient-color: oklch( from var(--primary-color-500) l c h / .65 );

  position: relative;
  padding-block: var(--spacing-3xl);

  &__world-map {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;

    animation: move-right-left 20s linear infinite;

    &-bg {
      flex: 1 0 100%;
      opacity: .1;
    }
  }

  .section__inner {
    position: relative;
    z-index: 1;
  }

  .wpcf7 {
    &-form {
      width: min(100%, 50rem);
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
      gap: 0 var(--spacing-lg);
    }

    &__form-group {
      &:has([data-name=full-name], [data-name=your-message], .gpw-button) {
        grid-column: 1 / -1;
      }
    }

    &-form-control:is(input[type=text], input[type=email], textarea, input[type=tel], input[type=date], select) {
      font-size: var(--fs-normal);
      height: auto;
      padding: var(--spacing-md) var(--spacing-lg);
      box-shadow: none;
      border: .0625rem solid var(--gray-color-200);
      border-radius: .3125rem;

      &:hover, &:focus-visible {
        border-color: var(--primary-color-500);
      }
    }

    label > i {
      color: var(--secondary-color-500);
      margin-left: .25rem;
    }

    .gpw-button:is(button) {
      --_gpw-button-padding-inline: var(--spacing-2xl);
    }

    & form .wpcf7-response-output {
      margin-block: var(--spacing-xl) 0;
      grid-column: 1 / -1;
    }
  }

  @include container-query( content, sm, gt ) {
    --_cols: 2;
  }
}