:is(button, input[type='button'], input[type='submit'], a).gpw-button {
  $class: '.gpw-button';
  --_gpw-button-text-color: var(--base-color);
  --_gpw-button-background-color: transparent;
  --_gpw-button-border-color: transparent;

  --_gpw-button-font-size: var(--fs-normal);
  --_gpw-button-font-weight: 700;
  --_gpw-button-line-height: 1.5;

  --_gpw-button-padding-inline: 0rem;
  --_gpw-button-padding-block: 0rem;

  --_gpw-button-hover-text-color: var(--primary-color-500);
  --_gpw-button-hover-background-color: transparent;
  --_gpw-button-hover-border-color: transparent;

  padding: var(--_gpw-button-padding-block) var(--_gpw-button-padding-inline);
  width: fit-content;
  min-height: unset;
  margin: 0;
  display: block;

  background-color: var(--_gpw-button-background-color);
  color: var(--_gpw-button-text-color);
  border: 0.0625rem solid var(--_gpw-button-border-color);
  font-size: var(--_gpw-button-font-size);
  font-weight: var(--_gpw-button-font-weight);
  line-height: var(--_gpw-button-line-height);
  text-decoration: none;
  text-transform: capitalize;

  transition-duration: 200ms;
  transition-property: background-color, color, border-color;

  &:is(:hover, :focus-visible) {
    background-color: var(--_gpw-button-hover-background-color);
    color: var(--_gpw-button-hover-text-color);
    border-color: var(--_gpw-button-hover-border-color);
  }

  &:has(.material-symbols-outlined) {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }

  &:is(#{$class}__outlined, #{$class}__primary) {
    --_gpw-button-padding-inline: var(--spacing-2xl);
    --_gpw-button-padding-block: var(--spacing-sm);
  }

  &__outlined {
    --_gpw-button-border-color: var(--_gpw-button-text-color);
    --_gpw-button-hover-border-color: var(--primary-color-500);
    --_gpw-button-hover-background-color: var(--primary-color-500);
    --_gpw-button-hover-text-color: #fff;

    &--slide-bg {
      --_gpw-button-border-color: var(--gray-color-300);
      --_gpw-button-text-color: var(--base-color);
      --_gpw-button-hover-background-color: transparent;
      --_gpw-button-hover-text-color: #fff;

      position: relative;

      span {
        position: relative;
        z-index: 2;
      }

      &:before {
        position: absolute;
        content: '';
        z-index: 1;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color-500);
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform 300ms ease-in-out;
      }

      &:hover:before {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }

  &__primary {
    --_gpw-button-text-color: #fff;
    --_gpw-button-background-color: var(--primary-color-500);
    --_gpw-button-border-color: var(--primary-color-500);
    --_gpw-button-hover-background-color: var(--primary-color-400);
    --_gpw-button-hover-border-color: var(--primary-color-400);
    --_gpw-button-hover-text-color: #fff;
  }

  &--center {
    margin-inline: auto;
  }

  &--full-width {
    width: 100%;
  }
}
