.tabs {
  $class: &;

  &:has(&__nav--default) {
    --_border-color: var(--_text-color, var(--gray-color-500));
    --_border-width: 0.0625rem;
    --_active-bg-color: var(--gray-color-100);
  }

  &__nav {
    &--underline:has(.tabs__nav-menu[aria-orientation='horizontal']) {
      overflow: auto;

      #{$class}__nav-menu {
        flex-flow: row nowrap;
        width: fit-content;
      }
    }

    &-menu {
      list-style: none;
      margin-bottom: 0;

      display: flex;
      gap: 0.625rem;

      &[aria-orientation='horizontal'] {
        flex-flow: row wrap;
      }
    }

    &-item {
      position: relative;
      margin-bottom: 0;
      cursor: pointer;
      font-size: var(--fs-normal);

      color: var(--_text-color, var(--gray-color-500));

      transition: all 200ms;
    }

    &:is(&--underline) {
      white-space: nowrap;

      .tabs__nav-item {
        padding-block: .625rem;
        padding-inline: 1.25rem;
      
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.125rem;
          background-color: currentColor;
          opacity: 0;

          transition: opacity 300ms;
        }

        &[aria-selected='true'] {
          color: var(--primary-color-500);

          &::after {
            opacity: 1;
          }
        }

        &[aria-selected='false']:hover {
          color: var(--primary-color-500);
        }
      }
    }

    &:is(&--pills) {
      .tabs__nav-item {
        padding: 0.3125rem 1rem;
        border: 0.0625rem solid var(--_border-color, var(--gray-color-100));
        border-radius: var(--_border-radius, 2rem);
        background-color: var(--_background-color, transparent);

        &[aria-selected='true'] {
          --_background-color: var(--primary-color-500);
          --_border-color: var(--_background-color);
          --_text-color: #fff;
        }

        &[aria-selected='false']:hover {
          --_text-color: var(--primary-color-500);
          --_border-color: var(--_text-color);
        }
      }
    }

    &:is(&--default) {
      position: relative;

      #{$class}__nav-menu {
        position: relative;
        z-index: 2;
        gap: 0;
        margin-bottom: calc(-1 * var(--_border-width));
      }

      #{$class}__nav-item {
        padding: 0.875rem 0.9375rem;
        color: var(--base-color);

        &[aria-selected='true'] {
          border-style: solid;
          border-color: var(--_border-color);
          border-width: var(--_border-width) var(--_border-width) 0 var(--_border-width);
          background-color: var(--_active-bg-color);
          color: var(--secondary-color-500);
        }
      }
    }
  }

  &__content {
    position: relative;
  }

  &__panel {
    transition: opacity 300ms, z-index 300ms;
    &:is([aria-hidden='false']) {
      position: relative;
      z-index: 1;
      opacity: 1;
    }
    &:is([aria-hidden='true']) {
      position: absolute;
      inset: 0;
      width: 100%;
      z-index: -1;
      opacity: 0;
    }
  }

  &:has(&__nav--default) &__content {
    background-color: var(--_active-bg-color);
    position: relative;
    z-index: 1;
    border: var(--_border-width) solid var(--_border-color);
  }
  
  &:has(&__nav--default) &__panel {
    padding: clamp( .875rem, 2cqi, 1.25rem );
  }
}
