.tabs {
  &__nav {
    &-menu {
      list-style: none;
      margin-bottom: 0;

      display: flex;
      gap: 0.625rem;

      &[aria-orientation='horizontal'] {
        flex-flow: row wrap;
      }
    }

    &-item {
      position: relative;
      margin-bottom: 0;
      cursor: pointer;
      font-size: var(--fs-normal);

      color: var( --_text-color, var(--gray-color-500) );

      transition: all 200ms;
    }

    &:is(&--underline) {
      .tabs__nav-item:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: currentColor;
        opacity: 0;

        transition: opacity 300ms;
      }

      .tabs__nav-item[aria-selected='true'] {
        color: var(--primary-color-500);

        &::after {
          opacity: 1;
        }
      }
    }

    &:is(&--pills) {
      .tabs__nav-item {
        padding: 0.3125rem 1rem;
        border: .0625rem solid var(--_border-color, var(--gray-color-100));
        border-radius: var(--_border-radius, 2rem );
        background-color: var(--_background-color, transparent);

        &[aria-selected='true'] {
          --_background-color: var(--primary-color-500);
          --_border-color: var(--_background-color);
          --_text-color: #fff;
        }

        &[aria-selected='false']:hover {
          --_text-color: var(--primary-color-500);
          --_border-color: var(--_text-color);
        }
      }
    }
  }

  &__content {
    position: relative;
  }

  &__panel {
    transition: opacity 300ms, z-index 300ms;
    &:is([aria-hidden='false']) {
      position: relative;
      z-index: 1;
      opacity: 1;
    }
    &:is([aria-hidden='true']) {
      position: absolute;
      inset: 0;
      width: 100%;
      z-index: -1;
      opacity: 0;
    }
  }
}
