@use '../abstracts/' as *;
.hero {
  --_text-color: #fff;

  .section__inner {
    display: grid;
    grid-template-areas: 'hero-stack';

    &:before {
      content: '';
      z-index: 2;
      background-color: rgb(0 0 0 / 0.45);
    }
  }

  &__content,
  &__background-video,
  .section__inner:before {
    grid-area: hero-stack;
  }

  &__background-video {
    z-index: 1;
    width: 100%;

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  &__content {
    z-index: 3;
    align-self: center;
    width: min(calc(100% - 2rem), var(--screen-lg));
    margin-inline: auto;

    color: var(--_text-color);
  }

  &__sub-title {
    font-size: var(--fs-lg);
    font-weight: 700;
  }

  &__title {
    color: var(--_text-color);
    font-size: var(--fs-3xl);
    text-transform: uppercase;
    margin-bottom: var(--spacing-sm);
  }

  &__description {
    font-size: var(--fs-lg);
    margin-bottom: 1.875rem;
  }
}