.post-card {
  $class: &;

  --_fixed-height: true;
  --_padding-inline: 1rem;
  --_padding-block: 1.25rem;
  --_content-padding-top: 10rem;
  --_background-color: #fff;
  --_border-radius: 1.25rem;
  --_transition-duration: 400ms;
  --_transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --_thumbnail-width: 85%;

  margin: 0.3125rem;

  transition: transform var(--_transition-duration) var(--_transition-function);

  &__thumbnail {
    display: block;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:not(&--horizontal) {
    #{$class}__content {
      padding-block: var(--_padding-block);
      padding-inline: var(--_padding-inline);
      background-color: var(--_background-color);
    }
  }

  &--featured {
    #{$class}__thumbnail {
      aspect-ratio: 5/3;
    }
    
    #{$class}__image {
      border-radius: var(--_border-radius) var(--_border-radius) 0 0;
    }

    #{$class}__content {
      border-radius: 0 0 var(--_border-radius) var(--_border-radius);
    }
  }

  &--horizontal {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2cqi, 1.5rem);

    #{$class}__thumbnail {
      flex: 0 0 7.5rem;
      aspect-ratio: 1;
    }

    #{$class}__content {
      flex: 1
    }
  }

  &--vertical {
    #{$class}__content {
      box-shadow: 0 0 var(--_shadow-spread, 0.3125rem) rgb(0 0 0 / 0.25);

      transition: box-shadow var(--_transition-duration) var(--_transition-function);
    }

    &:not(#{$class}--featured) {
      #{$class}__thumbnail {
        width: var(--_thumbnail-width);
        margin-inline: auto;
        aspect-ratio: 3.2/2;
        margin-bottom: calc(-1 * var(--_content-padding-top));
      }

      #{$class}__content {
        padding-block: calc(var(--_content-padding-top) + var(--_padding-block)) var(--_padding-block);
        border-radius: var(--_border-radius);
      }
    }
  }

  &--vertical:not(&--featured),
  &--horizontal {
    #{$class}__image {
      border-radius: 1rem;
    }
  }

  &__category {
    display: block;
    padding: .25rem .5rem;
    margin-bottom: .75rem;
    width: fit-content;
    border-radius: .25rem;
    background-color: var(--primary-color-50);
    color: var(--primary-color-500);
    font-size: var(--fs-xs);
    font-weight: 600;

    transition: background-color var(--_transition-duration) var(--_transition-function), color var(--_transition-duration) var(--_transition-function);

    &:hover {
      background-color: var(--primary-color-500);
      color: #fff;
    }
  }

  &__title {
    --_font-size: var(--fs-md);
    --_line-height: 1.2;
  }

  &__excerpt {
    --_line-clamp: 4;

    &:has( + * ) {
      margin-bottom: var(--spacing-md);
    }
  }

  &__read-more {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-inline: auto 0;
    color: var(--secondary-color-500);
  }

  &__meta {
    list-style: none;
    margin-bottom: 0;
    font-size: var(--fs-sm);
    color: var(--gray-color-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &-item {
      margin-bottom: 0;
    }
  }

  &:hover {
    --_shadow-spread: 0.625rem;
  }

  &--vertical:not(&--featured):hover {
    transform: translateY(-0.3125rem);
  }

  &[aria-hidden=true] {
    display: none;
  }

  @container (width > 850px) {
    --_padding-inline: 1.25rem;
  }
}
