.post-card {
  --_fixed-height: true;
  --_padding-inline: 1rem;
  --_content-padding-top: 10rem;
  --_background-color: #fff;
  --_transition-duration: 400ms;
  --_transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --_thumbnail-width: 85%;

  margin: .3125rem;

  transition: transform var(--_transition-duration) var(--_transition-function);
  
  &__thumbnail {
    display: block;
    width: var(--_thumbnail-width);
    margin-inline: auto;
    aspect-ratio: 3.2/2;
    margin-bottom: calc( -1 * var(--_content-padding-top) );
  }

  &__image {
    border-radius: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding-top: calc( var(--_content-padding-top) + var(--_space-with-thumbnail, 1.25rem) );
    padding-bottom: 1.25rem;
    border-radius: 1.25rem;
    background-color: var(--_background-color);
    box-shadow: 0 0 var(--_shadow-spread, .3125rem) rgb(0 0 0 / 0.25);

    transition: box-shadow var(--_transition-duration) var(--_transition-function);
  }

  &__title, &__excerpt {
    padding-inline: var(--_padding-inline);
  }

  &__title {
    --_font-size: var(--fs-md);
    --_line-height: 1.2;
  }

  &__excerpt {
    --_line-clamp: 4;

    margin-bottom: var(--spacing-md);
  }

  &__read-more {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-inline: auto var(--_padding-inline);
    color: var(--secondary-color-500);
  }

  &:hover {
    --_shadow-spread: .625rem;

    transform: translateY(-.3125rem);
  }

  @container (width > 850px) {
    --_padding-inline: 1.25rem;
  }
}