@use '../abstracts/' as *;
.why-choose-us {
  --_text-color: #fff;
  padding-block: var(--spacing-3xl);
  background-color: var(--primary-color-500);
  color: var(--_text-color);

  .section__title {
    color: var(--_text-color);
  }

  &__reasons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__reason {
    --_icon-size: 4.6875rem;

    padding-block: 1rem 0;
    padding-inline: 0.5rem;
    margin-bottom: 0;
    flex: 0 0 calc(100% / var(--_cols, 2));

    &-icon-wrapper {
      width: var(--_icon-size);
      height: var(--_icon-size);
      margin-inline: auto;
      margin-bottom: var(--spacing-md);
      border-radius: 50%;
      background-color: #fff;
      display: grid;
      place-items: center;
      padding: clamp(0.3125rem, 1cqi, 0.625rem);

      &:hover {
        .why-choose-us__reason-icon {
          transform: scale(1.25);
        }
      }
    }

    &-icon {
      object-fit: contain;
      transition: transform 300ms;
    }

    &-label {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: var(--fs-md);
    }
  }

  @include container-query(content, sm, gt) {
    &__reason {
      --_icon-size: 6.25rem;
    }
  }

  @include container-query(content, md, gt) {
    &__reason {
      --_cols: 4;
      --_icon-size: 9.375rem;

      padding-inline: 1rem;
    }
  }
}