@use '../components/gpw-accordion';
@use '../components/gpw-swiper';
@use '../components/gpw-tabs';
@use '../components/hero-section';
@use '../components/introduction-section';
@use '../components/expertise-section';
@use '../components/why-choose-us-section';
/* =============================== */
/* =          Products           = */
/* =============================== */
.products {
  padding-block: var(--spacing-3xl);

  &__carousel {
    --_slides-per-view: 1;
    --_space-between: 1.25rem;
  }

  .product {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &__images-carousel {
      position: relative;
      z-index: 1;

      .swiper {
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          inset: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, transparent, var(--primary-color-500));
        }
      }

    }

    &__title {
      position: absolute;
      z-index: 2;
      bottom: clamp(0.625rem, 2cqi, 1.25rem);
      left: clamp(0.625rem, 2cqi, 1.25rem);
      right: clamp(0.625rem, 2cqi, 1.25rem);
      width: calc(100% - (clamp(0.625rem, 2cqi, 1.25rem) * 2));
      text-align: center;
      margin-bottom: 0;
      color: #fff;
    }

    &__image {
      width: 100%;
      aspect-ratio: 4/3;
    }

    .gpw-nav-btn {
      z-index: 2;
      opacity: 0;

      transition: opacity 300ms;
    }

    &:hover {
      .gpw-nav-btn {
        opacity: 1;
      }
    }

    .gpw-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      --swiper-pagination-bullet-inactive-color: #fff;
      --swiper-pagination-color: #fff;
    }
  }

  @include container-query(content, sm) {
    &__carousel {
      & > .swiper > .swiper-wrapper > .swiper-slide {
        width: calc((100% - (var(--_space-between) * (var(--_slides-per-view) - 1))) / var(--_slides-per-view));
        margin-right: var(--_space-between);
      }

      & > .swiper > .gpw-pagination {
        position: static;
        margin-top: .9375rem;
      }
    }
  }

  @include container-query(content, sm, gt) {
    &__carousel {
      --_slides-per-view: 2;

      & > .swiper > .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(var(--_slides-per-view), minmax(0, 1fr));
        gap: var(--_space-between);
      }
    }
  }

  @include container-query(content, md, gt) {
    &__carousel {
      --_slides-per-view: 3;

      & > .swiper > .gpw-nav-btn {
        display: none;
      }
    }
  }
}
/* ===================================== */
/* = Corresponding Logistics Solutions = */
/* ===================================== */
.logistics-solutions {
  padding-block: var(--spacing-3xl);

  .tabs {
    &__nav {
      margin-bottom: var(--spacing-2xl);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    align-items: center;
    gap: var(--spacing-lg) var(--spacing-2xl);

    &-img {
      border-radius: 1rem;
      width: 100%;
      aspect-ratio: 8/5;
      object-fit: cover;
    }

    &-title {
      font-size: var(--fs-lg);
      color: var(--primary-color-500);
    }

    &-description {
      margin-bottom: var(--spacing-lg);
    }
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    .tabs__panel:nth-child(even) {
      .logistics-solutions__item {
        &-img,
        &-content {
          grid-row: 1;
        }

        &-img {
          order: 2;
        }

        &-content {
          order: 1;
        }
      }
    }
  }
}
/* =============================== */
/* =      Related Industries     = */
/* =============================== */
.related-industries {
  padding-block: var(--spacing-3xl);

  &__carousel {
    --_slides-per-view: 1;
    --_space-between: 1.25rem;

    .swiper-slide {
      width: calc((100% - (var(--_space-between) * (var(--_slides-per-view) - 1))) / var(--_slides-per-view));
      margin-right: var(--_space-between);
      height: auto;
    }
  }

  .industry {
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'industry-stack';

    &__image, &__title {
      grid-area: industry-stack;
    }

    &__title {
      z-index: 2;
      align-self: end;
      margin-left: clamp( .875rem, 2cqi, 1.25rem );
      color: #fff;
    }

    &__image {
      z-index: 1;
      aspect-ratio: 8/5;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include container-query(content, sm, gt) {
    &__carousel {
      --_slides-per-view: 2;
    }
  }

  @include container-query(content, md, gt) {
    &__carousel {
      --_slides-per-view: 3;
    }
  }
}