@use '../components/hero-section';
@use '../components/statistics-section';
@use '../components/core-value-section';
@use '../components/get-free-quote-section';
/* =============================== */
/* =            Hero             = */
/* =============================== */
.hero {
  .section__inner {
    &:before {
      background: no-repeat linear-gradient(to right, var(--primary-color-500), transparent );
    }
  }

  &__background-image {
    display: block;
    height: 31.25rem;
    object-fit: cover;
  }
}
/* =============================== */
/* =        Introduction         = */
/* =============================== */
.introduction {
  padding-block: var(--spacing-3xl);

  .section__inner {
    display: grid;
    grid-template-columns: minmax( 0, 1fr );
    gap: var(--spacing-xl) var(--spacing-3xl);
  }

  .section__title {
    margin-bottom: var(--spacing-lg);
  }

  @include container-query( content, md, gt ) {
    .section__inner {
      grid-template-columns: 40% minmax( 0, 1fr );
    }
  }
}
/* =============================== */
/* =        Team members         = */
/* =============================== */
.team-members {
  padding-block: var(--spacing-3xl);

  .section__sub-title {
    text-transform: capitalize;
  }

  &__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-xl);
  }

  .team-member {
    flex: 0 0 min(25rem, 100%);
    background-color: var(--tertiary-color-100);
    padding: var(--spacing-lg);
    text-align: center;

    &__avatar {
      display: block;
      width: 100%;
      aspect-ratio: 4/5;
      object-fit: cover;
      margin-bottom: var(--spacing-md);
    }

    &__name, &__position {
      color: var(--primary-color-500);
    }

    &__name {
      font-size: var(--fs-md);
    }

    &__position {
      position: relative;
      display: block;
      font-weight: 700;
      padding-bottom: var(--spacing-md);
      margin-bottom: var(--spacing-sm);

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: var(--primary-color-500);
        height: .0625rem;
        width: 6.25rem;
      }
    }
  }
}
/* =============================== */
/* =      Customer centric       = */
/* =============================== */
.customer-centric {
  --_gap: .5rem;
  --_icon-size: 2.5rem;
  --_logo-size: 6rem;
  --_logo-before-size-gap: .9375rem;
  --_item-height: 18rem;
  --_item-padding-block: .75rem;
  --_item-padding-inline: .75rem;
  --_item-title-fs: var(--fs-md);
  --_item-content-fs: .75rem;
  --_item-space-between-icon-content: 1rem;
  --_item-sm-circle-size: 5rem;
  --_item-lg-circle-size: 5.3125rem;
  --_item-sm-circle-border-width: .125rem;
  
  padding-block: 5rem;
  background-color: var(--primary-color-500);

  &__main {
    display: grid;
    grid-template-columns: repeat( 2, minmax( 0, 20rem ) );
    grid-template-rows: repeat( 2, minmax( 0, var(--_item-height) ) );
    justify-content: center;
    gap: var(--_gap);
  }

  &__item {
    $itemClass: &;
    position: relative;
    padding-block: var(--_item-padding-block);
    padding-inline: var(--_item-padding-inline);
    border-radius: 2.5rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    border: .125rem solid var(--gray-color-100);
    overflow: hidden;
    
    &-title {
      z-index: 2;
      font-size: var(--_item-title-fs);
      line-height: 1.25;
      color: var(--primary-color-500);
      margin-bottom: .25rem;
    }
    
    &-content {
      z-index: 2;
      font-size: var(--fs-sm);
      line-height: 1.4;
    }
    
    &-icon {
      z-index: 2;
      justify-self: center;
      width: var(--_icon-size);
    }

    &:before, &:after {
      position: absolute;
      content: '';
      z-index: 1;
      background-color: var(--_item-circle-bg-clr, var(--secondary-color-500));
    }

    &:before {
      width: var(--_item-lg-circle-size);
      height: var(--_item-lg-circle-size);
    }
    
    &:after {
      width: var(--_item-sm-circle-size);
      height: var(--_item-sm-circle-size);
      border-style: solid;
      border-color: #fff;
    }

    &:nth-child(-n + 2) {
      grid-row: 1;
      align-content: start;
      
      #{$itemClass}-icon {
        margin-top: var(--_item-space-between-icon-content);
      }
    }
    
    &:nth-child(n + 3) {
      grid-row: 2;
      align-content: end;
      
      #{$itemClass}-icon {
        grid-row: 1 / 2;
        margin-bottom: var(--_item-space-between-icon-content);
      }
    }
    
    &:nth-child(odd) {
      grid-column: 1;
    }

    &:nth-child(even){
      grid-column: 2;
      text-align: right;
    }

    &:nth-child(1) {
      &:before, &:after {
        bottom: calc( -1 * var(--_gap));
        right: calc( -1 * var(--_gap) );

        border-top-left-radius: 100rem;
      }

      &:after {
        border-width: var(--_item-sm-circle-border-width) 0 0 var(--_item-sm-circle-border-width);
      }
    }
    
    &:nth-child(2) {
      &:before, &:after {
        bottom: calc( -1 * var(--_gap) );
        left: calc( -1 * var(--_gap) );
  
        border-top-right-radius: 100rem;
      }
  
      &:after {
        border-width: var(--_item-sm-circle-border-width) var(--_item-sm-circle-border-width) 0 0;
      }      
    }

    &:nth-child(3) {
      &:before, &:after {
        --_item-circle-bg-clr: var(--primary-color-500);
        top: calc( -1 * var(--_gap) );
        right: calc( -1 * var(--_gap) );
  
        border-bottom-left-radius: 100rem;
      }
  
      &:after {
        border-width: 0  0 var(--_item-sm-circle-border-width) var(--_item-sm-circle-border-width);
      }      
    }
    
    &:nth-child(4) {
      &:before, &:after {
        --_item-circle-bg-clr: var(--primary-color-500);
        top: calc( -1 * var(--_gap) );
        left: calc( -1 * var(--_gap) );
  
        border-bottom-right-radius: 100rem;
      }
  
      &:after {
        border-width: 0 var(--_item-sm-circle-border-width) var(--_item-sm-circle-border-width) 0;
      }      
    }
  }

  &__logo-wrapper {
    position: relative;
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    place-self: center;
    width: var(--_logo-size);
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #fff;

    &:before {  // Logo aura
      content: '';
      position: absolute;
      top: calc( -1 * var(--_logo-before-size-gap));
      left: calc( -1 * var(--_logo-before-size-gap));
      width: calc( 100% + var(--_logo-before-size-gap) * 2);
      height: calc( 100% + var(--_logo-before-size-gap) * 2);
      background-color: hsl( 0 0 100% / .3);
      border-radius: 100%;
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
    display: block;
    width: 80%;
    height: auto;
    object-fit: cover;
  }

  @include container-query( content, #{to-rem(768)}, gt ) {
    --_gap: 1.25rem;
    --_icon-size: 4rem;
    --_logo-size: 12.5rem;
    --_item-height: 20rem;
    --_item-space-between-icon-content: 1.25rem;
    --_item-padding-block: 2rem;
    --_item-padding-inline: 1.5rem;
    --_item-content-fs: .9375rem;
    --_item-sm-circle-size: 10rem;
    --_item-lg-circle-size: 10.625rem;
    --_item-sm-circle-border-width: .3125rem;
  }
}
/* =============================== */
/* =           Tagline           = */
/* =============================== */
.tagline {
  padding-block: var(--spacing-3xl);

  .section__inner {
    padding-block: 3.5rem;
    border-radius: 1.125rem;
    background-color: var(--primary-color-500);
  }

  &__content {
    color: #fff;
    font-size: clamp( 2rem, 1rem + 2.5cqi, 3rem );
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  &__icon {
    filter: invert(1);
    display: block;
    margin-inline: auto;
    margin-bottom: .625rem;
    width: var(--_icon-size, 3rem);
    aspect-ratio: 1 / 1;
  }

  @include container-query( content, md, gt ) {
    --_icon-size: 4rem;

    &__content {
      width: 75%;
      margin-inline: auto;
    }
  }
}