@use '../components/gpw-tabs';
@use '../components/gpw-swiper';
@use '../components/hero-section';
/* =============================== */
/* =           About us          = */
/* =============================== */
.about-us {
  padding-block: 0 var(--spacing-3xl);

  .section__inner {
    display: grid;
    grid-template-columns: [left-edge] 1fr [content-start] min(var(--screen-lg), 100%) [content-end] 1fr [right-edge];
  }

  .tabs {
    &__nav {
      grid-column: content-start / content-end;

      &--underline {
        --_underline-height: 0.1875rem;

        &:has(.tabs__nav-menu[aria-orientation='horizontal']) .tabs__nav-menu {
          position: relative;
          gap: 0;

          &:after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--_underline-height);
            background-color: var(--gray-color-500);
          }
        }
      }

      &-item {
        position: relative;
        z-index: 2;
        padding-block: 0.875rem;
        flex: 1 0 0;
        text-align: center;
        text-transform: capitalize;
        font-weight: 700;
        font-size: clamp(1rem, 2vw, 1.125rem);
      }
    }

    &__content {
      background-color: var(--gray-color-100);
      grid-column: left-edge / right-edge;
      display: grid;
      grid-template-columns: subgrid;
    }

    &__panel {
      grid-column: content-start / content-end;
      padding-block: var(--spacing-3xl);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    gap: var(--spacing-xl) var(--spacing-2xl);

    &-img {
      grid-row: 1;
      display: block;
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  @include container-query(content, md, gt) {
    .about-us__item {
      --_cols: 2;
    }

    .tabs__nav:has(.tabs__nav-menu[aria-orientation='horizontal']) .tabs__nav-menu {
      width: 100%;
    }

    .tabs__panel:nth-child(even) .about-us__item {
      &-img,
      &-content {
        grid-row: 1;
      }

      &-img {
        grid-column: 2;
      }

      &-content {
        grid-column: 1;
      }
    }
  }

  @include container-query(content, lg) {
    .tabs__panel {
      padding-inline: var(--spacing-sm);
    }
  }
}
/* =============================== */
/* =        Why choose us        = */
/* =============================== */
.why-choose-us {
  padding-block: var(--spacing-3xl);

  .section__description {
    margin-bottom: var(--spacing-2xl);
  }

  &__reasons {
    --_items-per-row: 2;
    --_space-between-items: var(--spacing-lg);

    border-radius: 1rem;
    padding-block: clamp(2rem, 5cqi, 4rem);
    padding-inline: clamp(1rem, 2.5cqi, 1.5rem);
    margin-bottom: 0;
    background-color: var(--primary-color-500);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: var(--_space-between-items);
  }

  &__reason {
    flex: 0 0 calc((100% - var(--_space-between-items) * (var(--_items-per-row) - 1)) / var(--_items-per-row));
    margin-bottom: 0;
    text-align: center;
    font-size: var(--fs-md);
    font-weight: 600;
    color: #fff;

    &-icon {
      display: block;
      margin-inline: auto;
      margin-bottom: var(--spacing-sm);
      width: clamp(3.5rem, 10cqi, 5.25rem);
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }

  @include container-query(content, md, gt) {
    .why-choose-us__reasons {
      --_items-per-row: 4;
    }
  }
}
/* =============================== */
/* =          Jobs List          = */
/* =============================== */
.job-list {
  --_center-block-border-radius: 1.25rem;
  --_pagination-button-size: 3.125rem;
  --_pagination-border-color: var(--gray-color-200);
  --_pagination-active-bg-color: var(--primary-color-500);

  padding-block: var(--spacing-3xl);
  background-color: var(--gray-color-100);

  &__header {
    margin-bottom: var(--spacing-2xl);
  }

  .job-search {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--spacing-sm), 2.5cqi, var(--spacing-lg));
    margin-bottom: 0;

    &__message {
      flex: 1 0 100%;
      padding: 0.625rem 1.25rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid currentColor;

      &[aria-hidden='true'] {
        display: none;
      }

      &--success {
        color: var(--success-color-600);
      }

      &-info {
        color: var(--tertiary-color-700);
      }

      &--error {
        color: var(--danger-color-600);
      }

      &--warning {
        color: var(--gpw-color-400);
      }
    }

    &__group {
      flex: 1;
    }

    &__form-control {
      font-size: var(--fs-normal);
      height: auto;
      padding: var(--spacing-md) var(--spacing-lg);
      box-shadow: none;
      border: 0.0625rem solid var(--gray-color-200);
      border-radius: 0.3125rem;
      margin-bottom: 0;

      &:hover,
      &:focus-visible {
        border-color: var(--primary-color-500);
      }
    }

    &__submit-btn:is(button) {
      width: 100%;
      justify-content: center;

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  &__main {
    background-color: #fff;
    padding: clamp(0.75rem, 3cqi, 2rem);
    border-radius: var(--_center-block-border-radius);

    &:has(+ .job-list__footer[aria-hidden='false']) {
      border-radius: var(--_center-block-border-radius) var(--_center-block-border-radius) 0 0;
    }
  }

  &__items {
    list-style: none;
    margin-bottom: 0;
  }

  &__item {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 'title' 'meta' 'link';
    gap: clamp(var(--spacing-md), 3cqi, var(--spacing-lg));

    &-title {
      grid-area: title;
      color: var(--primary-color-500);
      margin-bottom: 0;
    }

    &-meta-list {
      grid-area: meta;
      margin: 0;
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-lg);
      list-style: none;
    }

    &-meta {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
      margin-bottom: 0;
      font-size: var(--fs-sm);

      &-value {
        font-weight: 700;
        white-space: nowrap;
      }
    }

    &-view-detail {
      align-self: start;
      grid-area: link;
      display: inline-flex;
      gap: var(--spacing-md);
      align-items: center;
      font-weight: 700;
      color: var(--secondary-color-500);

      transition: color 200ms;
    }

    &:has(+ .job-list__item) {
      border-bottom: 0.0625rem solid var(--gray-color-200);
      padding-bottom: clamp(1rem, 3cqi, 1.5rem);
      margin-bottom: clamp(1rem, 3cqi, 1.5rem);
    }
  }

  &__footer {
    background-color: var(--secondary-color-400);
    padding-block: var(--spacing-2xl);
    border-radius: 0 0 var(--_center-block-border-radius) var(--_center-block-border-radius);

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__pagination {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 0.625rem;

    &-item {
      cursor: pointer;
      margin-bottom: 0;
      width: var(--_pagination-button-size);
      height: var(--_pagination-button-size);
      border-radius: 0.3125rem;
      border: 0.0625rem solid var(--_pagination-border-color);
      color: var(--primary-color-500);
      display: grid;
      place-items: center;

      transition:
        background-color 200ms,
        color 200ms,
        border-color 200ms;

      &:hover {
        --_pagination-border-color: var(--primary-color-500);
      }

      &--active {
        --_pagination-border-color: var(--primary-color-500);
        font-weight: 700;
        background-color: var(--_pagination-active-bg-color);
        color: #fff;
      }

      &--disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  @include container-query(content, sm, gt) {
    &__item {
      grid-template-columns: minmax(0, 1fr) auto;
      grid-template-areas: 'title link' 'meta link';

      &-meta-list {
        margin-right: 5rem;
      }
    }
  }

  @include container-query(content, md, gt) {
    .job-search {
      flex-flow: row wrap;

      &__submit-btn:is(button) {
        width: fit-content;
      }
    }

    &__item {
      &-meta-list {
        margin-right: 12.5rem;
      }
    }
  }
}
/* =============================== */
/* =        Team members         = */
/* =============================== */
.team-members {
  --_inner-padding-block: clamp(1.25rem, 4cqi, 2.5rem);
  --_inner-padding-inline: clamp(2rem, 5cqi, 4.375rem);

  padding-block: var(--spacing-3xl);

  .section__inner {
    border-radius: 1rem;
    background-color: var(--gray-color-100);
    padding-inline: var(--_inner-padding-inline);
  }

  .section__title {
    margin-bottom: 0;
  }

  &__info {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 'avatar' 'header' 'quote';

    &-header {
      grid-area: header;
      padding-inline: clamp(0.9375rem, 2cqi, 1.875rem);
      padding-block: clamp(0.75rem, 2.5cqi, 2rem);
      border-radius: 1rem;
      background-color: var(--primary-color-500);
    }

    &-name {
      color: #fff;
      margin-bottom: 0;
    }

    &-position {
      color: #fff;
      font-size: var(--fs-sm);
    }

    &-avatar {
      grid-area: avatar;
      aspect-ratio: 2/3;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-quote {
      grid-area: quote;
    }
  }

  @include container-query(content, md) {
    &__header {
      padding-block: var(--_inner-padding-block);
      text-align: center;
    }

    &__info {
      &-header {
        text-align: center;
        margin-bottom: var(--spacing-xl);
      }

      &-quote {
        text-align: center;
      }

      &-avatar {
        max-width: clamp(12.5rem, 40cqi, 18.75rem);
        margin-inline: auto;
      }
    }

    &__thumb-carousel {
      display: none;
    }
  }

  @include container-query(content, md, gt) {
    .section__inner {
      padding-block: var(--_inner-padding-block) 0;
      display: grid;
      grid-template-columns: minmax(0, 1fr) 7.5rem;
      gap: var(--spacing-3xl);
    }

    &__header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &__main-carousel {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__thumb-carousel {
      grid-column: 2 / 3;
      grid-row: 1 / span 2;
    }

    &__info {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas: 'header avatar' 'quote avatar';
      gap: var(--spacing-lg) var(--spacing-3xl);

      &-header {
        align-self: end;
      }

      &-quote {
        align-self: start;
      }
    }
  }
}
