.footer {
  &.footer {
    color: var(--footer-color);
    padding-block: 0;
    container: footer / inline-size;
    font-size: var(--fs-normal);
    
    .section__inner {
      @include container-query(footer, lg) {
        padding-inline: var(--spacing-sm);
      }
    }
  }

  &__bottom {
    padding-block :var(--spacing-sm);
  }
}
