@use '../components/gpw-swiper';
@use '../components/hero-section';
@use '../components/services-section';
@use '../components/gpw-accordion';
@use '../components/gpw-tabs';
/* =============================== */
/* =         Introduction        = */
/* =============================== */
.introduction {
  --_border-radius: 1rem;
  padding-block: var(--spacing-3xl);

  .section__inner {
    background-color: var(--gray-color-200);
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    align-content: center;
    align-items: center;
    border-radius: var(--_border-radius);
    overflow: hidden;
  }

  .section__title {
    margin-bottom: var(--spacing-lg);
  }

  &__content {
    padding: var(--spacing-lg);
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    &__content {
      padding: var(--spacing-2xl);
    }
  }
}
/* =============================== */
/* =          Expertise          = */
/* =============================== */
.expertise {
  padding-block: var(--spacing-3xl);

  &__features {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    align-items: start;
    gap: var(--spacing-lg) var(--spacing-2xl);

    &-imgs {
      order: 1;
      display: grid;
      grid-template-areas: 'feature-img-stack';
    }

    &-img {
      grid-area: feature-img-stack;
      border-radius: 0.75rem;
      width: 100%;
      aspect-ratio: 3/2;

      transition: opacity 300ms;

      &[aria-hidden='true'] {
        z-index: 1;
        opacity: 0;
      }

      &[aria-hidden='false'] {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  .accordion {
    --_accordion-btn-bg-clr: transparent;
    --_accordion-panel-bg-clr: transparent;

    &__item {
      &:has([aria-hidden='false']) {
        --_accordion-btn-bg-clr: transparent;
      }

      &:has(+ .accordion__item) {
        border-bottom: 0.125rem solid var(--gray-color-200);
      }
    }

    &__button {
      border-top: none;
    }
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    &__features {
      &-imgs {
        order: 2;
      }
    }
  }
}
/* =============================== */
/* =        Why choose us        = */
/* =============================== */
.why-choose-us {
  --_text-color: #fff;
  padding-block: var(--spacing-3xl);
  background-color: var(--primary-color-500);
  color: var(--_text-color);

  .section__title {
    color: var(--_text-color);
  }

  &__reasons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__reason {
    --_icon-size: 4.6875rem;

    padding-block: 1rem 0;
    padding-inline: 0.5rem;
    margin-bottom: 0;
    flex: 0 0 calc(100% / var(--_cols, 2));

    &-icon-wrapper {
      width: var(--_icon-size);
      height: var(--_icon-size);
      margin-inline: auto;
      margin-bottom: var(--spacing-md);
      border-radius: 50%;
      background-color: #fff;
      display: grid;
      place-items: center;
      padding: clamp(0.3125rem, 1cqi, 0.625rem);

      &:hover {
        .why-choose-us__reason-icon {
          transform: scale(1.25);
        }
      }
    }

    &-icon {
      object-fit: contain;
      transition: transform 300ms;
    }

    &-label {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: var(--fs-md);
    }
  }

  @include container-query(content, sm, gt) {
    &__reason {
      --_icon-size: 6.25rem;
    }
  }

  @include container-query(content, md, gt) {
    &__reason {
      --_cols: 4;
      --_icon-size: 9.375rem;

      padding-inline: 1rem;
    }
  }
}
/* =============================== */
/* =      Suitable industry      = */
/* =============================== */
.suitable-industry {
  padding-block: var(--spacing-3xl);

  &__carousel {
    .swiper-slide {
      --_slides-per-view: 1;
      --_space-between: 1.25rem;
      height: auto;
      width: calc((100% - var(--_space-between) * (var(--_slides-per-view) - 1)) / var(--_slides-per-view));
      margin-right: var(--_space-between);
    }
  }

  .industry {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &__img {
      position: relative;
      z-index: 1;
      display: block;
      aspect-ratio: 8/5;
      width: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      padding: clamp(0.75rem, 2cqi, 1.25rem);
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &__title {
      color: #fff;
      margin-bottom: 0;
    }
  }

  @include container-query(content, sm, gt) {
    &__carousel {
      .swiper-slide {
        --_slides-per-view: 2;
      }
    }
  }

  @include container-query(content, md, gt) {
    &__carousel {
      .swiper-slide {
        --_slides-per-view: 3;
      }
    }
  }
}
/* =============================== */
/* =       Service details       = */
/* =============================== */
.service-details {
  padding-block: var(--spacing-3xl);

  .tabs {
    &__nav {
      margin-bottom: var(--spacing-2xl);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    align-items: center;
    gap: var(--spacing-lg) var(--spacing-2xl);

    &-img {
      border-radius: 1rem;
      width: 100%;
      aspect-ratio: 8/5;
    }

    &-title {
      font-size: var(--fs-lg);
      color: var(--primary-color-500);
    }
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    .tabs__panel:nth-child(even) {
      .service-details__item {
        &-img, &-content {
          grid-row: 1;
        }
        
        &-img {
          order: 2;
        }

        &-content {
          order: 1;
        }
      }
    }
  }
}
/* =============================== */
/* =        Other services       = */
/* =============================== */
.other-services {
  padding-block: var(--spacing-3xl);

  &__carousel {
    --_slides-per-view: 1;
    --_space-between: 1.25rem;

    .swiper-slide {
      height: auto;
      width: calc((100% - var(--_space-between) * (var(--_slides-per-view) - 1)) / var(--_slides-per-view));
      margin-right: var(--_space-between);
    }
  }

  .other-service {
    --_content-padding: clamp(.8375rem, 2cqi, 1.25rem);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'other-service-stack';
    aspect-ratio: 7/9;

    &__image, &__content {
      grid-area: other-service-stack;
    }

    &__image {
      align-self: start;
      z-index: 1;
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }

    &__content {
      align-self: end;
      z-index: 2;
      padding-block: clamp(6.25rem, 5cqi, 7.5rem) clamp(1.25rem, 2cqi, 1.875rem);
      padding-inline: var(--_content-padding);
      clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
      background-color: var(--primary-color-500);
      color: #fff;
      display: grid;
      grid-template-rows: auto 0fr;

      transition: grid-template-rows 500ms;
    }

    &__title {
      color: inherit;
    }

    &__description {
      overflow: hidden;
    }

    &:hover {
      .other-service__content {
        grid-template-rows: auto 1fr;
      }
    }
  }

  @include container-query( content, sm, gt ) {
    &__carousel {
      --_slides-per-view: 2;
    }
  }

  @include container-query( content, md, gt ) {
    &__carousel {
      --_slides-per-view: 3;
    }
  }
}