@use '../components/gpw-tabs';
@use '../components/gpw-swiper';
@use '../components/hero-section';
@use '../components/testimonial-section';
@use '../components/post-card';
@use '../components/services-section';
@use '../components/get-free-quote-section';

/* =============================== */
/* =           Solutions         = */
/* =============================== */
.our-solutions {
  --_transition-duration: 250ms;
  --_transition-func: ease-in-out;
  padding-block: 3.125rem;

  .section__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .section__title {
      flex: 0 0 fit-content;
    }
  }
  
  &__navigators {
    display: flex;
    gap: var(--spacing-sm);

    .gpw-nav-btn {
      --_icon-color: var(--primary-color-500);
      position: static;
      transform: none;
      border: .0625rem solid currentColor;

      .material-symbols-outlined {
        transition: color 300ms;
      }

      &:hover {
        --_btn-bg-color: var(--primary-color-500);
        --_icon-color: #fff;
      }
    }
  }

  &__carousel {
    --_slides-per-view: 1.5;
    --_space-between: 1.25rem;
    
    .swiper-slide {
      width: calc(100% / var(--_slides-per-view) - (var(--_space-between) * (var(--_slides-per-view) - 1) / var(--_slides-per-view)));
      margin-right: var(--_space-between);
    }

    .gpw-pagination {
      position: static;
      margin-top: var(--spacing-lg);
    }
  }

  .our-solution {
    --_padding: 1.25rem;
    display: grid;
    grid-template-areas: 'solution-stack';
    overflow: hidden;

    &__image,
    &__content,
    &:after {
      grid-area: solution-stack;
    }

    &__image {
      z-index: 1;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }

    &:after {
      content: '';
      opacity: 0;
      z-index: 2;

      transition: opacity var(--_transition-duration) var(--_transition-func);
    }

    &:after {
      inset: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(0 0 0 / 0.25);
    }

    &__content {
      position: relative;
      z-index: 3;
      padding: var(--_padding);
      display: grid;
      align-items: end;
      transition: align-items var(--_transition-duration) var(--_transition-func);

      &:after {
        content: '';
        position: absolute;
        top: var(--_padding);
        left: var(--_padding);
        width: calc(100% - (var(--_padding) * 2));
        height: calc(100% - (var(--_padding) * 2));
        border: 0.0625rem solid #fff;
        opacity: 0;
        pointer-events: none;

        transition: opacity var(--_transition-duration) var(--_transition-func);
      }
    }

    &__title {
      position: relative;
      top: 0;
      text-align: center;
      margin: 0;
      color: #fff;

      transition: top var(--_transition-duration) var(--_transition-func), transform 0s 0s;
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      .our-solution__title {
        top: -50%;
        transform: translateY(50%);
      }

      .our-solution__content {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  @include container-query( content, sm, gt ) {
    &__carousel {
      --_slides-per-view: 2.5;
    }
  }

  @include container-query( content, md, gt ) {
    &__navigators {
      .gpw-nav-btn {
        --_btn-size: 3.4375rem;
        --_icon-size: 1.875rem;
      }
    }
    &__carousel {
      --_slides-per-view: 3.5;
    }
  }

  @include container-query(content, lg) {
    .section__inner {
      padding-inline: var(--spacing-sm);
    }
  }

  @include container-query( content, lg, gt ) {
    .section__inner {
      grid-template-columns: 1fr var(--screen-lg) 1fr;
    }

    &__header {
      grid-column: 2 / 3;
    }

    &__carousel {
      --_slides-per-view: 4.5;
      grid-column: 2 / 4;
    }
  }
}
/* =============================== */
/* =          Core Value         = */
/* =============================== */
.core-value {
  .section__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-items: center;
    gap: var(--spacing-xl) var(--spacing-3xl);
  }

  &__description {
    margin-bottom: var(--spacing-xl);
  }

  .tabs__nav-item {
    font-weight: 700;
  }

  &__tabs {
    margin-bottom: var(--spacing-xl);
  }

  @include container-query(content, md, gt) {
    .section__inner {
      grid-template-columns: 40% minmax(0, 1fr);
    }
  }
}
/* =============================== */
/* =          Statistic          = */
/* =============================== */
.statistic {
  --_numbers-padding-top: 8.75rem;
  padding-block: var(--spacing-3xl) 0;

  .section__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr) var(--_video-width, 100%) minmax(0, 1fr);
    grid-template-rows: repeat( 2, auto );
  }

  &__video {
    grid-column: 2 / span 1;
    z-index: 2;
    margin-inline: auto;
    padding: .625rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem rgb(0 0 0 / 0.1);
    display: grid;
    grid-template-areas: 'video-stack';

    .gpw-video-block {
      border-radius: .375rem;
      overflow: hidden;
    }

    .gpw-video-block, &-btn {
      grid-area: video-stack;
    }

    &-btn {
      z-index: 2;
      align-self: center;
      justify-self: center;
      margin: 0;
      padding: 0;
      min-height: auto;
      width: 3.75rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: transparent;
      color: #fff;
      border: .125rem solid #fff;
      display: grid;
      place-items: center;

      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

      .material-symbols-outlined {
        font-size: 2rem;
        font-variation-settings: 'FILL' 1;
      }

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }

  &__numbers {
    --_slides-per-view: 2;
    --_gap: clamp(0.857rem, 2cqi, 1.25rem);

    z-index: 1;
    grid-column: 1 / -1;
    padding-block: 3.125rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(var(--_slides-per-view), calc(min(100%, var(--screen-lg)) / var(--_slides-per-view))) minmax(0, 1fr);
    gap: var(--_gap) 0;
    background: radial-gradient(circle at center, var(--secondary-color-500), var(--primary-color-500));
  }

  &__number {
    display: grid;
    justify-content: center;

    color: #fff;
    font-weight: 700;
    text-align: center;
    
    &-value {
      font-size: clamp(2.25rem, 6cqi, 4.375rem);
      line-height: 1;
      text-transform: uppercase;
    }

    &-label {
      font-size: var(--fs-xl);
      line-height: 1.2;
    }
  }

  @include container-query(content, md) {
    &__number {
      &:nth-child(odd) {
        grid-column: 2 / span 1;
      }
    }
  }

  @include container-query(content, md, gt) {
    .section__inner {
      --_video-width: calc( var(--screen-lg) * .6 );

      grid-template-rows: repeat( 2, auto );
    }

    &__video {
      grid-row: 1 / 3;
    }

    &__numbers {
      --_slides-per-view: 4;

      padding-block: 15rem 5rem;
      grid-row: 2 / 4;
    }

    &__number {
      &:first-child {
        grid-column: 2 / span 1;
      }
    }
  }
}
/* =============================== */
/* =            Blogs            = */
/* =============================== */
.blogs {
  --_transition-duration: 400ms;
  --_transition-func: ease-in-out;

  padding-block: var(--spacing-3xl);
  background-color: var(--gray-color-50);

  .section__title {
    margin-bottom: var(--spacing-sm);
  }

  .section__description {
    width: min(100%, var(--screen-md));
    margin-inline: auto;
    margin-bottom: var(--spacing-2xl);
  }

  &__nav {
    overflow-x: auto;
    margin-bottom: 1.5rem;

    &-list {
      margin-inline: auto;
      margin-bottom: 0;
      list-style: none;
      width: fit-content;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &-item {
      cursor: pointer;
      margin-bottom: 0;
      white-space: nowrap;
      padding-block: 0.25rem;
      padding-inline: var(--spacing-md);
      border-radius: 2rem;
      color: var(--primary-color-500);
      font-weight: 700;

      transition:
        background var(--_transition-duration) var(--_transition-func),
        color var(--_transition-duration) var(--_transition-func);

      &--active {
        background: linear-gradient(to right, var(--primary-color-500), var(--secondary-color-500));
        color: #fff;
      }

      &:not(&--active):hover {
        color: var(--secondary-color-500);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    gap: clamp(1.25rem, 3cqi, 2.5rem);
  }

  &__view-all-btn.gpw-button:is(a) {
    margin-top: 1.875rem;
  }

  @include container-query(content, md, gt) {
    &__grid {
      --_cols: 3;
    }
  }
}