@use '../components/gpw-swiper';
@use '../components/hero-section';
@use '../components/services-section';
@use '../components/gpw-accordion';
@use '../components/gpw-tabs';
@use '../components/post-card';
@use '../components/introduction-section';
@use '../components/expertise-section';
@use '../components/why-choose-us-section';
/* =============================== */
/* =      Suitable industry      = */
/* =============================== */
.suitable-industry {
  padding-block: var(--spacing-3xl);

  &__carousel {
    .swiper-slide {
      --_slides-per-view: 1;
      --_space-between: 1.25rem;
      height: auto;
      width: calc((100% - var(--_space-between) * (var(--_slides-per-view) - 1)) / var(--_slides-per-view));
      margin-right: var(--_space-between);
    }
  }

  .industry {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &__img {
      position: relative;
      z-index: 1;
      display: block;
      aspect-ratio: 8/5;
      width: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      padding: clamp(0.75rem, 2cqi, 1.25rem);
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &__title {
      color: #fff;
      margin-bottom: 0;
    }
  }

  @include container-query(content, sm, gt) {
    &__carousel {
      .swiper-slide {
        --_slides-per-view: 2;
      }
    }
  }

  @include container-query(content, md, gt) {
    &__carousel {
      .swiper-slide {
        --_slides-per-view: 3;
      }
    }
  }
}
/* =============================== */
/* =       Service details       = */
/* =============================== */
.service-details {
  padding-block: var(--spacing-3xl);

  .tabs {
    &__nav {
      margin-bottom: var(--spacing-2xl);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    align-items: center;
    gap: var(--spacing-lg) var(--spacing-2xl);

    &-img {
      border-radius: 1rem;
      width: 100%;
      aspect-ratio: 8/5;
      object-fit: cover;
    }

    &-title {
      font-size: var(--fs-lg);
      color: var(--primary-color-500);
    }
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    .tabs__panel:nth-child(even) {
      .service-details__item {
        &-img, &-content {
          grid-row: 1;
        }
        
        &-img {
          order: 2;
        }

        &-content {
          order: 1;
        }
      }
    }
  }
}
/* =============================== */
/* =        Other services       = */
/* =============================== */
.other-services {
  padding-block: var(--spacing-3xl);

  &__carousel {
    --_slides-per-view: 1;
    --_space-between: 1.25rem;

    .swiper-slide {
      height: auto;
      width: calc((100% - var(--_space-between) * (var(--_slides-per-view) - 1)) / var(--_slides-per-view));
      margin-right: var(--_space-between);
    }
  }

  .other-service {
    --_content-padding: clamp(.8375rem, 2cqi, 1.25rem);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'other-service-stack';
    aspect-ratio: 7/9;

    &__image, &__content {
      grid-area: other-service-stack;
    }

    &__image {
      align-self: start;
      z-index: 1;
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }

    &__content {
      position: relative;
      align-self: end;
      z-index: 2;
      padding-block: clamp(6.25rem, 5cqi, 7.5rem) clamp(1.25rem, 2cqi, 1.875rem);
      padding-inline: var(--_content-padding);
      color: #fff;
      display: grid;
      grid-template-rows: auto 0fr;
      
      transition: grid-template-rows 500ms;
      
      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
      }
      
      &:before {
        z-index: 2;
        top: .5rem;
        height: calc(100% - .5rem);
        background-color: var(--primary-color-500);
      }

      &:after {
        z-index: 1;
        top: 0;
        height: 100%;
        background-color: var(--secondary-color-500);
      }
    }

    &__title, &__description {
      position: relative;
      z-index: 3;
    }

    &__title {
      color: inherit;
    }

    &__description {
      overflow: hidden;
    }

    &:hover {
      .other-service__content {
        grid-template-rows: auto 1fr;
      }
    }
  }

  @include container-query( content, sm, gt ) {
    &__carousel {
      --_slides-per-view: 2;
    }
  }

  @include container-query( content, md, gt ) {
    &__carousel {
      --_slides-per-view: 3;
    }
  }
}
/* =============================== */
/* =        Related posts        = */
/* =============================== */
.related-posts {
  --_transition-duration: 400ms;
  --_transition-func: ease-in-out;

  padding-block: var(--spacing-3xl);
  background-color: var(--gray-color-50);

  &__nav {
    overflow-x: auto;
    margin-bottom: 1.5rem;

    &-list {
      margin-inline: auto;
      margin-bottom: 0;
      list-style: none;
      width: fit-content;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &-item {
      cursor: pointer;
      margin-bottom: 0;
      white-space: nowrap;
      padding-block: 0.25rem;
      padding-inline: var(--spacing-md);
      border-radius: 2rem;
      color: var(--primary-color-500);
      font-weight: 700;

      transition: background var(--_transition-duration) var(--_transition-func), color var(--_transition-duration) var(--_transition-func);

      &--active {
        background: linear-gradient(to right, var(--primary-color-500), var(--secondary-color-500));
        color: #fff;
      }

      &:not(&--active):hover {
        color: var(--secondary-color-500);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    gap: clamp(1.25rem, 3cqi, 2.5rem);
  }

  &__view-all-btn.gpw-button:is(a) {
    margin-top: 1.875rem;
  }

  @include container-query(content, md, gt) {
    &__grid {
      --_cols: 3;
    }
  }
}