@use '../components/gpw-tabs';
/* =============================== */
/* =             Hero            = */
/* =============================== */
.hero {
  --_text-color: #fff;

  height: calc(100svh - var(--_gpw-header-height, 8.125rem));

  .section__inner {
    height: 100%;
    display: grid;
    grid-template-areas: 'hero-stack';

    &:before {
      content: '';
      z-index: 2;
      background-color: rgb( 0 0 0 / .45);
    }
  }

  &__content, &__background-video, .section__inner:before {
    grid-area: hero-stack;
  }

  &__background-video {
    z-index: 1;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    z-index: 3;
    align-self: center;
    width: min(calc( 100% - 2rem ), var(--screen-lg));
    margin-inline: auto;

    color: var(--_text-color);
  }

  &__sub-title {
    font-size: var(--fs-lg);
    font-weight: 700;
  }

  &__title {
    color: var(--_text-color);
    font-size: var(--fs-3xl);
    text-transform: uppercase;
    margin-bottom: var(--spacing-sm);
  }

  &__description {
    font-size: var(--fs-lg);
    margin-bottom: 1.875rem;
  }
}
/* =============================== */
/* =           Solutions         = */
/* =============================== */
.our-solutions {
  --_transition-duration: 250ms;
  --_transition-func: ease-in-out;
  padding-block: 3.125rem;  

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 2), minmax(0, 1fr));
    gap: .625rem;
  }

  .our-solution {
    --_padding: 1.25rem;
    display: grid;
    grid-template-areas: 'solution-stack';
    overflow: hidden;

    &__image, &__content, &:after {
      grid-area: solution-stack;
    }

    &__image {
      z-index: 1;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }

    &:after {
      content: '';
      opacity: 0;
      z-index: 2;

      transition: opacity var(--_transition-duration) var(--_transition-func);
    }

    &:after {
      inset: 0;
      height: 100%;
      width: 100%;
      background-color: rgb( 0 0 0 / .25);
    }

    &__content {
      position: relative;
      z-index: 3;
      padding: var(--_padding);
      display: grid;
      align-items: end;
      transition: align-items var(--_transition-duration) var(--_transition-func);

      &:after {
        content: '';
        position: absolute;
        top: var(--_padding);
        left: var(--_padding);
        width: calc(100% - (var(--_padding) * 2));
        height: calc(100% - (var(--_padding) * 2));
        border: .0625rem solid #fff;
        opacity: 0;
        pointer-events: none;

        transition: opacity var(--_transition-duration) var(--_transition-func);
      }
    }

    &__title {
      position: relative;
      top: 0;
      text-align: center;
      margin: 0;
      color: #fff;

      transition: top var(--_transition-duration) var(--_transition-func), transform 0s 0s;
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      .our-solution__title {
        top: -50%;
        transform: translateY(50%);
      }
      
      .our-solution__content {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  @include container-query(content, md, gt) {
    --_cols: 4;
  }
}
/* =============================== */
/* =           Core Value        = */
/* =============================== */
.core-value {
  .section__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-items: center;
    gap: var(--spacing-xl) var(--spacing-3xl);
  }

  &__description {
    margin-bottom: var(--spacing-xl);
  }

  .tabs__nav-item {
    font-weight: 700;
  }

  &__tabs {
    margin-bottom: var(--spacing-xl);
  }

  @include container-query(content, md, gt) {
    .section__inner {
      grid-template-columns: 40% minmax(0, 1fr);
    }
  }
}