@use '../components/gpw-swiper';
@use '../components/hero-section';
@use '../components/services-section';
@use '../components/gpw-accordion';
/* =============================== */
/* =         Introduction        = */
/* =============================== */
.introduction {
  --_border-radius: 1rem;
  padding-block: var(--spacing-3xl);

  .section__inner {
    background-color: var(--gray-color-200);
    display: grid;
    grid-template-columns: repeat( var(--_cols, 1), minmax( 0, 1fr ) );
    align-content: center;
    align-items: center;
    border-radius: var(--_border-radius);
    overflow: hidden;
  }

  .section__title {
    margin-bottom: var(--spacing-lg);
  }

  &__content {
    padding: var(--spacing-lg);
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    &__content {
      padding: var(--spacing-2xl);
    }
  }
}
/* =============================== */
/* =          Expertise          = */
/* =============================== */
.expertise {
  padding-block: var(--spacing-3xl);

  &__features {
    display: grid;
    grid-template-columns: repeat( var(--_cols, 1), minmax( 0, 1fr ) );
    align-items: start;
    gap: var(--spacing-lg) var(--spacing-2xl);

    &-imgs {
      order: 1;
      display: grid;
      grid-template-areas: 'feature-img-stack';
    }

    &-img {
      grid-area: feature-img-stack;
      border-radius: .75rem;
      width: 100%;
      aspect-ratio: 3/2;

      transition: opacity 300ms;

      &[aria-hidden=true] {
        z-index: 1;
        opacity: 0;
      }

      &[aria-hidden=false] {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  .accordion {
    --_accordion-btn-bg-clr: transparent;
    --_accordion-panel-bg-clr: transparent;

    &__item {
      &:has([aria-hidden=false]) {
        --_accordion-btn-bg-clr: transparent;
      }

      &:has( + .accordion__item ) {
        border-bottom: .125rem solid var(--gray-color-200);
      }
    }

    &__button {
      border-top: none;
    }
  }

  @include container-query(content, md, gt) {
    --_cols: 2;

    &__features {
      &-imgs {
        order: 2;
      }
    }
  }
}
/* =============================== */
/* =        Why choose us        = */
/* =============================== */
.why-choose-us {
  --_text-color: #fff;
  padding-block: var(--spacing-3xl);
  background-color: var(--primary-color-500);
  color: var(--_text-color);

  .section__title {
    color: var(--_text-color);
  }

  &__reasons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__reason {
    --_icon-size: 4.6875rem;

    padding-block: 1rem 0;
    padding-inline: .5rem;
    margin-bottom: 0;
    flex: 0 0 calc( 100% / var(--_cols, 2) );

    &-icon-wrapper {
      width: var(--_icon-size);
      height: var(--_icon-size);
      margin-inline: auto;
      margin-bottom: var(--spacing-md);
      border-radius: 50%;
      background-color: #fff;
      display: grid;
      place-items: center;
      padding: clamp(.3125rem, 1cqi, .625rem);

      &:hover {
        .why-choose-us__reason-icon {
          transform: scale(1.1);
        }
      }
    }

    &-icon {
      object-fit: contain;
      transition: transform 300ms;
    }

    &-label {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: var(--fs-md);
    }
  }

  @include container-query( content, sm, gt ) {
    &__reason {
      --_icon-size: 6.25rem;
    }
  }

  @include container-query( content, md, gt ) {
    &__reason {
      --_cols: 4;
      --_icon-size: 9.375rem;
      
      padding-inline: 1rem;
    }
  }
}