/* =============================== */
/* =             Hero            = */
/* =============================== */
.hero {
  
}
/* =============================== */
/* =           Solutions         = */
/* =============================== */
.solutions {
  padding-block: 3.125rem;  
}