@use '../components/post-card';
/* =============================== */
/* =       Category header       = */
/* =============================== */
.category-header {
  padding-block: 1.5rem;

  &__title {
    font-size: var(--fs-2xl);
    color: var(--primary-color-500);
  }
}
/* =============================== */
/* =         Latest posts        = */
/* =============================== */
.latest-posts {
  padding-block: calc(var(--spacing-3xl) - 1.5rem) var(--spacing-3xl);

  .section__inner {
    display: grid;
    align-content: start;
    gap: var(--spacing-lg) var(--spacing-xl);
  }

  .post-card {
    &__excerpt {
      --_line-clamp: 3;
    }
  }

  @include container-query(content, md, gt) {
    .section__inner {
      grid-template-columns: repeat(7, minmax(0, 1fr));
      grid-template-rows: repeat(4, auto);
    }

    .post-card {
      &--featured {
        grid-column: 1 / 5;
        grid-row: 1 / -1;
      }

      &--horizontal {
        grid-column: 5 / 8;
      }
    }
  }
}
/* =============================== */
/* =          Posts grid         = */
/* =============================== */
.posts-grid {
  --_transition-duration: 400ms;
  --_transition-func: ease-in-out;

  padding-block: var(--spacing-3xl);
  background-color: var(--gray-color-50);

  &__nav {
    overflow-x: auto;
    margin-bottom: 1.5rem;

    &-list {
      margin-inline: auto;
      margin-bottom: 0;
      list-style: none;
      width: fit-content;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &-item {
      cursor: pointer;
      margin-bottom: 0;
      white-space: nowrap;
      padding-block: 0.25rem;
      padding-inline: var(--spacing-md);
      border-radius: 2rem;
      color: var(--primary-color-500);
      font-weight: 700;

      transition: background var(--_transition-duration) var(--_transition-func), color var(--_transition-duration) var(--_transition-func);

      &--active {
        background: linear-gradient(to right, var(--primary-color-500), var(--secondary-color-500));
        color: #fff;
      }

      &:not(&--active):hover {
        color: var(--secondary-color-500);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    gap: clamp(1.25rem, 3cqi, 2.5rem);
  }

  &__load-more-btn.gpw-button:is(button) {
    margin-top: 1.875rem;
  }

  &__loading {
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-block: 1.5rem 0;

    font-size: clamp(2.5rem, 5cqi, 3.125rem);
    color: var(--primary-color-500);
    
    animation: loading 1s linear infinite;
  }

  @include container-query(content, md, gt) {
    &__grid {
      --_cols: 3;
    }
  }
  @keyframes loading {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
}
