@use '../components/post-card';
/* =============================== */
/* =           Header            = */
/* =============================== */
.single-post-header {
  padding-block: var(--spacing-xl);

  .section__inner {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax( 0, 1fr ));
    gap: var(--spacing-md) var(--spacing-xl);
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 0 clamp(1.25rem, 3cqi, 3.125rem);
    border-bottom: .0625rem solid var(--gray-color-500);
  }

  &__title {
    font-size: var(--fs-xl);
    line-height: 1.2;
    color: var(--primary-color-500);
  }

  &__category {
    @include post-card-category();
  }

  &__author {
    margin-block: auto 0;
    display: inline-flex;
    align-items: center;
  }

  &__image {
    width: 100%;
    border-radius: var(--spacing-sm);
  }

  @include container-query(content, md, gt) {
    --_cols: 2;
  }
}
/* =============================== */
/* =        Post Content         = */
/* =============================== */
.post-content {
  padding-block: var(--spacing-xl) var(--spacing-3xl);

   h2, h3, h4, h5, h6 {
    margin-bottom: .625em;
    color: var(--primary-color-500);
   }

   &__sidebar {
    position: relative;

    &-inner {
      position: sticky;
      top: 7rem;
    }

    .widget {
      --_widget-max-height: 12.5rem;
      --_border-radius: .875rem;

      border-radius: var(--spacing-sm);
      
      &-title:has( + .is-divider ) {
        display: block;
        margin-bottom: var(--spacing-lg);
      }

      .ez-toc-btn {
        display: none;
      }

      a {
        color: inherit;
      }

      ul.ez-toc-list li.active {
        background-color: transparent !important;
      }

      ul>li+li {
        border: none;
      }

      ul:has(.cat-item) {
        max-height: var(--_widget-max-height);
        overflow: auto;
      }

      .cat-item {
        & > a {
          display: block;
          padding: .3125rem .625rem;
          background: linear-gradient(to right, rgb( 255 255 255 / 0 ), rgb( 255 255 255 / 0 )), 
                      linear-gradient(to right, var(--primary-color-500), var(--secondary-color-500));
          border-radius: .625rem;
          color: #fff;

          transition: background 300ms ease-in-out;

          &:hover {
            background: linear-gradient(to right, rgb( 255 255 255 / .25 ), rgb( 255 255 255 / .25 )), 
                        linear-gradient(to right, var(--primary-color-500), var(--secondary-color-500));
          }
        }

        &:has( + .cat-item ) {
          margin-bottom: .3125rem;
        }
      }
    }

    .widget.ez-toc {
      .widget-title {
        display: block;
        padding-block: var(--spacing-md);
        padding-inline: var(--spacing-lg);
        background: linear-gradient(to right, var(--primary-color-500), var(--secondary-color-500));
        border-radius: var(--_border-radius) var(--_border-radius) 0 0;
        margin-bottom: 0;

        .ez-toc-title {
          color: #fff !important;
          font-weight: 700 !important;
        }
      }

      .ez-toc-list {
        border-radius: 0 0 var(--_border-radius) var(--_border-radius);
        border: 0.0625rem solid var(--gray-color-100);
        max-height: var(--_widget-max-height);
        overflow: auto;
        padding-block: 1.25rem;
        padding-inline: .625rem 0;

        & li {
          & > a {
            color: var(--gray-color-700) !important;
          }

          &.active > a {
            font-weight: 700 !important;
            color: var(--primary-color-500) !important;
          }
        }
      }
    }

    .is-divider {
      display: none;
    }

    .ez-toc div.ez-toc-widget-container ul ul {
      margin-left: .5em;
    }

    #ezw_tco-2 .ez-toc-title.ez-toc-title {
      color: inherit;
    }
  }

  @include container-query( content, md ) {
    &__sidebar {
      display: none;
    }
  }

  @include container-query( content, md, gt) {
    .section__inner {
      display: grid;
      grid-template-columns: minmax(30%, 18.75rem) minmax(0, 1fr);
      gap: var(--spacing-xl);
    }
  }
}
/* =============================== */
/* =        Related Posts        = */
/* =============================== */
.related-posts {
  padding-block: var(--spacing-3xl);
  background-color: var(--gray-color-50);

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
    gap: clamp(.9375rem, 2cqi, 1.25rem);
  }

  @include container-query( content, md, gt ) {
    --_cols: 3;
  }
}